* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
    width: 100vw;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.box {
    height: 80vh;
    width: 100vw;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img {
    width: 120px;
    position: relative;
    z-index: 10;
}

.btn1 {
    display: inline;
    position: relative;
}

.btn1 select {
    background-color: #000;
    color: white;
    font-size: 17px;
    text-align: left;
    padding: 5px 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    position: relative;

}

.btn1 select option {
    background-color: #fff;
    color: #000;
}



.btn2 {
    background-color: red;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    position: relative;
    padding: 5px 8px;
    text-align: center;
    border: 4px white;
    border-radius: 7px;

}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45vw;
    height: 100%;
    margin: auto;
    flex-direction: column;
    color: white;
    z-index: 10;
    position: relative;
    gap: 10px;


}

.hero> :nth-child(1) {
    font-size: 57px;
    font-weight: 700px;
    text-align: center;
    margin: 0px 0px 16px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif
}

.hero> :nth-child(2) {
    font-weight: bolder;
    text-align: center;
    margin: 0px 0px 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero> :nth-child(3) {
    font-size: 19px;
    text-align: center;
    font-family: sans-serif
}

.hero input {
    padding: 20px 120px 8px 16px;
    border-radius: 6px;
    padding-bottom: 13px;
    background-color: rgba(25, 25, 25, 0.5);
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border: 1px solid #fff;
}

.start-btn {
    background-color: red;
    padding: 12px 30px 12px 16px;
    text-align: left;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    border: 1px solid red;

}
   
.container {

    height: 500px;
    max-width: 1000px;
    width: 100%;
    margin-top: 12px;
    margin-left: 12vw;
    margin-right: 12vw;

}


.trending {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}


.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    overflow: visible;
    padding: 15px 10px;
    transition: transform 0.3s ease;
}

.card img {
    border-radius: 10px;

    object-fit: cover;

}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.number {
    position: absolute;
    bottom: 15px;
    left: -2px;
    font-size: 85px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    -webkit-text-stroke: 1px white;
}

.container2 {
    margin-top: 12px;
    margin-right: 12vw;
    height: 400px;
    width: 75vw;
    overflow: hidden;

}

.title-section {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    margin-top: 40px;

}

.smallimg {
    display: flex;
    gap: 10px;
    height: 400px;
    width: 75vw;
}

.card2 {
    height: 250px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%, #220222 100%);
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.card2 h3 {
    font-size: 1.5em;
}

.card2 p {
    color: rgba(255, 255, 255, 0.7);
}

.images {
    position: relative;
    left: 155px;
    bottom: 5px;
}

.container3 {
    margin-top: 12px;
    margin-right: 12vw;
    height: 650px;
    width: 75vw;
  

}

/* for svg file */
.plus-logo {
    filter: invert();

}

.questionbox {
    width: 75vw;
    margin: 10px auto;
    background-color: #2d2d2d;
}

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

}

.questionbox:hover {
    background-color: #4d4d4d;
}

.container4 {
    height: 150px;
    width: 75vw;

}

.container4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;


}

.container4 input {
    padding: 18px 250px 8px 16px;
    border-radius: 6px;
    padding-bottom: 13px;
    background-color: rgba(25, 25, 25, 0.7);
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border: 1px solid #fff;

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    width: 75vw;
    margin-top: 25px;
}

.call {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
}

.call a {
    color: rgba(255, 255, 255, 0.7);
}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.foot a {
    color: rgba(255, 255, 255, 0.7);
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 30px;
}

#para {
    font-size: 0.8rem;
    padding-top: 50px;
}

.down-btn {
    position: relative;
    margin-top: 50px;
}

.down-btn select {
    background-color: #000;
    color: white;
    font-size: 17px;
    text-align: left;
    padding: 5px 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    position: relative;
}

.down-btn select option {
    background-color: #fff;
    color: #000;
}